// ------------------
// COLORS
// ------------------

$primary: #2baa9c;
$text-accent: #6ad2c7;
$text-primary: #2c3e50;
$text-secondary: #7a8a94;
$border-color: rgba($text-secondary, .3);

// ------------------
// PADDINGS
// ------------------

$page-side-padding: 12%
